@import "tailwindcss";

@theme {
  --font-sans: var(--font-dm-sans);
  --color-background: var(--background);
  --color-background-accent: var(--background-accent);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-error: var(--error);
}

:root {
  --background: hsl(0 0% 97%);
  --background-accent: hsl(0 0% 100%);
  --foreground: hsl(0 0% 0%);
  --secondary: hsl(0 0% 89%);
  --error: hsl(0 100% 50%);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "DM Sans", sans-serif;
}